*.la
*.lo
*.o
*~
.deps
.libs
ABOUT-NLS
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
doc/abstraction.pdf
doc/controlflow.pdf
doc/controlflow2.pdf
doc/doxygen/Doxyfile
doc/gsasl-api-error-labels.texi
doc/gsasl.1
doc/gsasl.info
doc/man/
doc/print-errors
doc/reference/
doc/stamp-vti
doc/texi/
doc/version.texi
examples/client
examples/client-callback
examples/client-mech
examples/client-serverfirst
lib/aclocal.m4
lib/autom4te.cache/
lib/build-aux/config.guess
lib/build-aux/config.sub
lib/build-aux/depcomp
lib/build-aux/install-sh
lib/build-aux/ltmain.sh
lib/build-aux/mdate-sh
lib/build-aux/missing
lib/build-aux/texinfo.tex
lib/config.h
lib/config.h.in
lib/config.log
lib/config.status
lib/configure
lib/libgsasl.pc
lib/libtool
lib/po/
lib/stamp-h1
libtool
po/
src/gsasl
src/gsasl_cmd.c
src/gsasl_cmd.h
stamp-h1
tests/scram
